# Obsidian system files
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/backups/

# Sync services
.stfolder/
.stversions/

# OS files
.DS_Store
Thumbs.db

# HTML for GH pages
/.html-export/

# API credentials for Obsidian REST connector
.env

# Custom plugin development
/.developer/
